body {
  font-family: Century Gothic;
  background-color: #AED6F1;
}

#wrapper {
  background-color: white;
  width: 960px;
  height: auto;
  border-left: 5px solid #5DADE2;
  border-right: 5px solid #5DADE2;
  padding: 10px;
  overflow: auto;
  margin: 0 auto;
}

#header {
  width: 1000;
  height: 1000;
  border-bottom: 3px solid #5DADE2;
}


#indeximage {

display: block;
height: 450px;
width: 956px;
padding-bottom: 10px;
}

h1 {
  text-align: center;
  color: #5DADE2;
  font-weight: lighter;
  font-size: 40px;
}
.nobullets {
  list-style-type: none;
  overflow: hidden;
}

#menu {
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 10px 106px;
  text-decoration: none;
  background-color: #5DADE2;
}


p {
  font-size: 20px;
}

.intro {
  color: #5DADE2;
  font-weight: bolder;
}

.portifolio {
  height: 300px;
  width: 600px;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
