.header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 1349px;
}

#like img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  width: 600px;
}

#wrapper {
  background-color: white;
  width: 1250px;
  height: auto;
  border-left: 5px solid #5DADE2;
  border-right: 5px solid #5DADE2;
  padding: 10px;
  overflow: auto;
  margin: 0 auto;
  text-align: center;
}

.nobullets {
  list-style-type: none;
  overflow: hidden;
}

#menu {
  margin-top: 10px;
  margin-left: 200px;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 10px 106px;
  text-decoration: none;
  background-color: #5DADE2;
}


p {
  font-size: 20px;
}

.intro {
  color: #5DADE2;
  font-weight: bolder;
}

.portfolio {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  height: 400px;
  width: 700px;
  padding: 20px;

}

#like {
  height: 350px;
  width: 856px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

h2 {
  color:  #5DADE2;
}

#GSW {
  float: left;
  padding: 10px;
  padding-right: 20px;
}

#keypeele {
  float: right;
  padding: 10px;
  padding-left: 20px;
}

#moringa {
  float: left;
  padding: 10px;
  padding-right: 20px;
}

.social {
  
  height: 40px;
  width: 40px;

}
